src/main/webapp/WEB-INF/services/RetOrderSer/META-INF/RetOrderSer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:ns1="http://org.apache.axis2/xsd" 
xmlns:ns="http://ser.shop.ws.community.com" 
xmlns:ax27="http://rsp.shop.ws.community.com/xsd" 
xmlns:ax25="http://req.shop.ws.community.com/xsd" 
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  targetNamespace="http://ser.shop.ws.community.com">
    <wsdl:documentation>RetOrderSer</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://rsp.shop.ws.community.com/xsd">
            <xs:complexType name="Root">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1"  name="retMsg"  type="ax27:RetMsg"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RetMsg">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1"  name="retCode" >
		          <xs:annotation> 
		            <xs:documentation>返回代码</xs:documentation> 
		          </xs:annotation>  
		          <xs:simpleType> 
		            <xs:restriction base="xs:string"> 
		              <xs:maxLength value="4"/>  
		              <xs:minLength value="4"/> 
		            </xs:restriction> 
		          </xs:simpleType>
		          </xs:element>
                   <xs:element minOccurs="1" maxOccurs="1"  name="retDesc">
		          <xs:annotation> 
		            <xs:documentation>错误描述</xs:documentation> 
		          </xs:annotation>  
		          <xs:simpleType> 
		            <xs:restriction base="xs:string"> 
		              <xs:maxLength value="500"/>  
		              <xs:minLength value="0"/> 
		            </xs:restriction> 
		          </xs:simpleType> 
		         </xs:element>  
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://req.shop.ws.community.com/xsd">
            <xs:complexType name="Root">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1"  name="body" type="ax25:Body"/>
                    <xs:element minOccurs="1" maxOccurs="1"  name="header" type="ax25:Header"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Body">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1"  name="order"  type="ax25:Order"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Order">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1"  name="userId"   >
		          <xs:annotation> 
		            <xs:documentation>用户ID</xs:documentation> 
		          </xs:annotation>  
		          <xs:simpleType> 
		            <xs:restriction base="xs:string"> 
		              <xs:maxLength value="11"/>  
		              <xs:minLength value="0"/> 
		            </xs:restriction> 
		          </xs:simpleType>
		          </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1"  name="orderNo"   >
		          <xs:annotation> 
		            <xs:documentation>订单编号</xs:documentation> 
		          </xs:annotation>  
		          <xs:simpleType> 
		            <xs:restriction base="xs:string"> 
		              <xs:maxLength value="40"/>  
		              <xs:minLength value="0"/> 
		            </xs:restriction> 
		          </xs:simpleType>
		          </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1"  name="orderTime"   >
		          <xs:annotation> 
		            <xs:documentation>下单时间</xs:documentation> 
		          </xs:annotation>  
		          <xs:simpleType> 
		            <xs:restriction base="xs:string"> 
		              <xs:maxLength value="14"/>  
		              <xs:minLength value="14"/> 
		            </xs:restriction> 
		          </xs:simpleType>
		          </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1"  name="goodsList"  type="ax25:GoodsList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GoodsList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1"   name="goods"  type="ax25:Goods"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Goods">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1"  name="goodsAgio"  >
		          <xs:annotation> 
		            <xs:documentation>商品折扣</xs:documentation> 
		          </xs:annotation>  
		          <xs:simpleType> 
		            <xs:restriction base="xs:string"> 
		              <xs:maxLength value="7"/>  
		              <xs:minLength value="0"/> 
		            </xs:restriction> 
		          </xs:simpleType>
		          </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1"  name="goodsAmount"  >
		          <xs:annotation> 
		            <xs:documentation>商品数量</xs:documentation> 
		          </xs:annotation>  
		          <xs:simpleType> 
		            <xs:restriction base="xs:string"> 
		              <xs:maxLength value="11"/>  
		              <xs:minLength value="0"/> 
		            </xs:restriction> 
		          </xs:simpleType>
		          </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1"  name="goodsNO" >
		          <xs:annotation> 
		            <xs:documentation>商品编号</xs:documentation> 
		          </xs:annotation>  
		          <xs:simpleType> 
		            <xs:restriction base="xs:string"> 
		              <xs:maxLength value="40"/>  
		              <xs:minLength value="0"/> 
		            </xs:restriction> 
		          </xs:simpleType>
		          </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1"  name="goodsName"  >
		          <xs:annotation> 
		            <xs:documentation>商品名称</xs:documentation> 
		          </xs:annotation>  
		          <xs:simpleType> 
		            <xs:restriction base="xs:string"> 
		              <xs:maxLength value="256"/>  
		              <xs:minLength value="0"/> 
		            </xs:restriction> 
		          </xs:simpleType>
		          </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1"  name="goodsPrice"  >
		          <xs:annotation> 
		            <xs:documentation>商品价格</xs:documentation> 
		          </xs:annotation>  
		          <xs:simpleType> 
		            <xs:restriction base="xs:string"> 
		              <xs:maxLength value="20"/>  
		              <xs:minLength value="0"/> 
		            </xs:restriction> 
		          </xs:simpleType>
		          </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Header">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1"  name="flowId"  >
		          <xs:annotation> 
		            <xs:documentation>流水ID</xs:documentation> 
		          </xs:annotation>  
		          <xs:simpleType> 
		            <xs:restriction base="xs:string"> 
		              <xs:maxLength value="11"/>  
		              <xs:minLength value="0"/> 
		            </xs:restriction> 
		          </xs:simpleType>
		          </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1"  name="shopCode"  >
		          <xs:annotation> 
		            <xs:documentation>商铺编码</xs:documentation> 
		          </xs:annotation>  
		          <xs:simpleType> 
		            <xs:restriction base="xs:string"> 
		              <xs:maxLength value="40"/>  
		              <xs:minLength value="0"/> 
		            </xs:restriction> 
		          </xs:simpleType>
		          </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1"  name="shopKey" >
		          <xs:annotation> 
		            <xs:documentation>商铺秘钥</xs:documentation> 
		          </xs:annotation>  
		          <xs:simpleType> 
		            <xs:restriction base="xs:string"> 
		              <xs:maxLength value="40"/>  
		              <xs:minLength value="0"/> 
		            </xs:restriction> 
		          </xs:simpleType>
		          </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema 
xmlns:ax28="http://rsp.shop.ws.community.com/xsd" 
xmlns:ax26="http://req.shop.ws.community.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ser.shop.ws.community.com">
            <xs:import namespace="http://req.shop.ws.community.com/xsd"/>
            <xs:import namespace="http://rsp.shop.ws.community.com/xsd"/>
            <xs:element name="retOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1"  name="root"  type="ax26:Root"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1"  name="return"  type="ax28:Root"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="retOrderRequest">
        <wsdl:part name="parameters" element="ns:retOrder"/>
    </wsdl:message>
    <wsdl:message name="retOrderResponse">
        <wsdl:part name="parameters" element="ns:retOrderResponse"/>
    </wsdl:message>
    <wsdl:portType name="RetOrderSerPortType">
        <wsdl:operation name="retOrder">
            <wsdl:input message="ns:retOrderRequest" />
            <wsdl:output message="ns:retOrderResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RetOrderSerSoap11Binding" type="ns:RetOrderSerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="retOrder">
            <soap:operation soapAction="urn:retOrder" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <!--
    <wsdl:binding name="RetOrderSerHttpBinding" type="ns:RetOrderSerPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="retOrder">
            <http:operation location="RetOrderSer/retOrder"/>
            <wsdl:input>
                <mime:content type="text/xml" part="retOrder"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="retOrder"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding> -->
    <wsdl:service name="RetOrderSer">
        <wsdl:port name="RetOrderSerHttpSoap11Endpoint" binding="ns:RetOrderSerSoap11Binding">
            <soap:address location="http://localhost:8080/TestWS/services/RetOrderSer.RetOrderSerHttpSoap11Endpoint/"/>
        </wsdl:port>
<!--        <wsdl:port name="RetOrderSerHttpEndpoint" binding="ns:RetOrderSerHttpBinding">
            <http:address location="http://localhost:8080/TestWS/services/RetOrderSer.RetOrderSerHttpEndpoint/"/>
        </wsdl:port> -->
    </wsdl:service>
</wsdl:definitions>
